<h1 class="text-center">プロフィール</h1>

<%= gravatar_for @user, size: 200 %>
<div class="text-center mt-2">
  <%= link_to "Gravatar でプロフィール画像の変更が可能です。", "https://ja.gravatar.com/" %>
</div>

<div class="row mt-4 justify-content-center">
  <div class="form-column-width">
    <label for="exampleFormControlInput1" class="form-label fw-bold">ユーザー名</label>
    <div class="mb-3">
      <%= @user.name %>
    </div>

    <label for="exampleFormControlInput1" class="form-label fw-bold">性別</label>
    <div class="mb-3">
      <%= @user.gender %>
    </div>

    <label for="exampleFormControlInput1" class="form-label fw-bold">自己紹介</label>
    <div class="mb-3">
      <%#= @user.content %>
    </div>
  </div>
</div>
