html,
body {
  height: 100%;
}

body {
  padding-top: 55px;
}


// placeholder の文字色
.form-control::placeholder{
  color: #cccccc;
}

*:focus {
  // box-shadow: none !important;
 }

// ナビゲーションメニューバーのカラー
.navbar{
  background-color: skyblue!important;
}

// ナビゲーションスライドメニュー(navbar-nav)のカラー
.navbar-nav{
  .nav-btn{
    &:hover { background-color: #eeeeee;
    }
  }
}


// ハンバーガーメニューのスタイリング
.navbar-toggler{
  border-color: rgba(0,0,0,0);
  // background-color: skyblue;
  // border-width: 2px;

  // ハンバーガーメニューの周りに表示される枠線を消す
  &:focus {
    box-shadow:none !important;
   }

  // ハンバーガーメニューの３本線のスタイリング
  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

// ナビゲーションメニューのスタイリング
.navbar-brand{
  color:black;
}

.nav-item a {
  color:gray!important;
}

#page-content {
  flex: 1 0 auto;
  background-color: #fffeee;
}

//入力フォームの幅
.form-column-width{
    width: 55%;
}

// 入力フォームのスタイリング（アイコン入り）
.input-group{
  .input-group-text{
    border-right: none !important;
    background-color: rgba(255,255,255,255);
    width: 8%;
  }

}

// 入力フォーム補足用の文字スタイル
.form-text{
  font-size: .8em;
}

// エラー時のフォームのスタイリング
.validation_errors {
  input {
    @extend .is-invalid;
  }
}

// .field_with_errors {
//   display: contents;
// }

// エラーメッセージのフォントサイズ
.validation_font_size {
  font-size: .8em;
}

// Googleマップのサイズ
#map{
  height: 400px;
}
