html,
body {
  height: 100%;
}

body {
  padding-top: 55px;
}


// placeholder の文字色
.form-control::placeholder{
  color: #cccccc;
}

*:focus {
  // box-shadow: none !important;
 }

// ナビゲーションメニューバーのカラー
.navbar{
  // background-color: gray!important;
}

// ナビゲーションメニュー(navbar-nav)のテキストカラー
#navbarSupportedContent{
  .navbar-nav{
    a{
      position: relative;
      display: inline-block;
      text-decoration: none;
      color: #ccc;
      &::after{
        position: absolute;
        bottom: -4px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: white;
        transform: scale(0, 1);
        transform-origin: center top;
        transition: transform .3s;
      }
      &:hover::after{
        transform: scale(1, 1);
      }
      &:hover {
        color: white;
      }
    }
  }
}


// ハンバーガーメニューのスタイリング
.navbar-toggler{
  border: none !important;

  // background-color: skyblue;
  // border-width: 2px;

  // ハンバーガーメニューの周りに表示される枠線を消す
  &:focus {
    box-shadow:none !important;
   }

  // ハンバーガーメニューの３本線のスタイリング
  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

// ナビゲーションメニューのスタイリング
.navbar-brand{

}

.nav-item a {

}

#page-content {
  flex: 1 0 auto;
  background-color: #fffeee;
}

//入力フォームの幅
.form-column-width{
    width: 55%;
}

// 入力フォームのスタイリング（アイコン入り）
.input-group{
  .input-group-text{
    border-right: none !important;
    background-color: rgba(255,255,255,255);
    width: 8%;
  }

}

// 入力フォーム補足用の文字スタイル
.form-text{
  font-size: .8em;
}

// エラー時のフォームのスタイリング
.validation_errors {
  input {
    @extend .is-invalid;
  }
}

// .field_with_errors {
//   display: contents;
// }

// エラーメッセージのフォントサイズ
.validation_font_size {
  font-size: .8em;
}

// Googleマップのサイズ
#map{
  height: 400px;
}
