// フォントサイズ用


.font06{
  font-size: .6em;
}
.font07{
  font-size: .7em;
}
.font08{
  font-size: .8em;
}
.font09{
  font-size: .9em;
}

.font11{
  font-size: 1.1em;
}
.font12{
  font-size: 1.2em;
}
.font13{
  font-size: 1.3em;
}
.font14{
  font-size: 1.4em;
}
.font15{
  font-size: 1.5em;
}

.font20{
  font-size: 2em;
}
